/*
@font-face {
    font-family: 'ProFontWindows';
    src: url(/fonts/ProFontWindows.ttf);
}

@font-face {
    font-family: 'TerminusBold';
    src: url(/fonts/TerminusBold.ttf);
}

@font-face {
    font-family: 'Terminus';
    src: url(/fonts/Terminus.ttf);
}
*/

/* too cewl...
body,h1,h2,h3,a:hover,#fglayer {
  cursor: url(/images/lightpen_cursor.png) 7 7, auto;
}
*/

#fglayer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0em;
  z-index: 1;
}

#qrcode {
  background-color: #009900;
  color: #000000;
/*
  position: absolute;
  top: 8em;
  right: 2em;
  z-index: 2;
*/
}

div.statusbar {
  z-index: 2;
}

body, h1, h2, .searchinput {
  font-weight: normal;
  font-size: 100%;
  font-family: /*'Terminus',*/ 'Lucida Console', 'Monospace', monospace;
  text-shadow: 2px 0px 2px #008800;
}

body,h1,h2 {
  margin-top: 0;
}

h1 {
  padding: 0;
  margin-top: 2ex;
  margin-bottom: 2ex;
}

h2 {
  padding: 0;
  margin-top: 2ex;
  margin-bottom: 0ex;
}

h2:before {
  content: "\00A0"; /* 1 x &nbsp; */
}


/* lists machanics (before also see something) */


li {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: 0em;
  padding-left: 0em;
  /*border: solid 1px yellow;*/ /* debug */
}

li:before {
  content: "\00A0o\00A0"; /* latin "o " */
  color: #009900;
}

li.nobull:before {
  content: "\00A0\00A0\00A0"; /* 3 x &nbsp; */
  color: #009900;
}

li.nobull {
  margin-left: 0em; /* two spaces to compence bullet absence */
  padding-left: 0em; /* two spaces to compence bullet absence */
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  /* position: absolute;*/
  margin-left: 0em;
  padding-left: 0em;
  /* border: solid 1px green; */ /* debug */
}


/* colors etc */

body {
  background-color: #000000;
  color: #009900;
  height: 100%; 
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  background-color: #005500;
  color: #22ff22;
  width: 100%;
}

a {
  color: #00FF00;
  text-decoration: none;
}

a:visited {
  color: #00DD00;
}

a:hover {
  color: #44FF44;
  background-color: #003300;
  text-shadow: 2px 0px 2px #00AA00;
}


a:after {
  content: "\005D";
  color: #009900;
}

a:before {
  content: "\005B";
  color: #009900;
}

.statusbar {
 position: absolute;
 bottom: 0;
 left: 0;
 background-color: #003300;
 width: 100%;
}

.cursor {
  color: #00FF00;
  text-decoration: blink;
}

.rightinstatus {
  position: absolute;
  right: 0;
}

.searchinput {
  background-color: #002000;
  color: #22ff22;
  border-style: hidden;
  padding: 0px;
  width: 24em;
  display: inline;
}